:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem=10px*/
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem; 
    color: var(--primario);
}

.titulo span{ 
    /*h1 span es lo mismo ya que solo hay un h1 o titulo
     que usar. Pero hay mas elementos de los demás
     por lo que conviene usar clases */
    font-size: 2rem;
}
