$font-family: 'Avenir Next LT Pro', sans-serif;
$color-primary: #CD0000;
$color-text: #000000;
$color-white: #FFFFFF;

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 740px; 
  max-width: 360px;
  margin: 2rem auto;
  border: 1px solid #ccc;
  overflow-x: hidden;
}

.login-header {
  padding: 2rem 0;
  text-align: center;
}

.promo-banner {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 2.5rem;
}
.promo-banner__image {
  position: relative;
  img {
    width: 100%;
  }
}

.login-form-container {
  flex-grow: 1;
}

.login-title {
  font: normal normal bold 20px/24px $font-family;
  letter-spacing: 0px;
  color: $color-text;
  margin-bottom: 1.5rem;
}

.form-control {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.forgot-password-link {
  display: block;
  text-align: left;
  margin-top: 8px;
  text-decoration: none;
  font: normal normal bold 14px/24px $font-family;
  letter-spacing: 0px;
  color: $color-primary;
}

.login-button {
  max-width: 188px;
  background-color: $color-primary;
  border-color: $color-primary;
  padding: 0.75rem 0;
  margin-bottom: 48px;
  font: normal normal normal 16px/24px $font-family;
  letter-spacing: 0px;
  color: $color-white;
  font-weight: 700;
  border-radius: 0%;
}

.login-footer {
  text-align: center;
  padding: 2rem 0;  
}

.register-link {
  font: normal normal normal 18px/24px $font-family;
  letter-spacing: 0px;
  color: $color-text;
  
  a {
    font: normal normal bold 16px/24px $font-family;
    letter-spacing: 0px;
    color: $color-primary;
    text-decoration: none;
  }
}