<div class="mobile-wrapper">
  <div class="container-fluid d-flex flex-column flex-grow-1">
    <div class="row px-4">
      <div class="col-12 login-header">
        <p><img src="assets/logo-marcas.svg" alt=""></p>
      </div>
    </div>

    <div class="row g-0 promo-banner">
      <div class="col-12 promo-banner__image">
        <img src="assets/login-img.png" alt="Promo Gafas" class="w-100">
      </div>
    </div>

    <div class="row px-4 flex-grow-1">
      <div class="col-12 login-form-container">

        <h2 class="login-title">INICIO DE SESIÓN</h2>

        <form class="login-form">

          <div class="form-group mb-3">
            <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
          </div>

          <div class="form-group position-relative m-0">
            <input type="password" class="form-control" id="password" placeholder="Contraseña">

            <span class="password-icon">
              <img src="assets/ver-icon.svg" alt="">
            </span>
          </div>

          <a href="#" class="forgot-password-link">Recupera tu contraseña</a>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger w-100 mt-4 login-button">
              INGRESAR
            </button>
          </div>

        </form>
      </div>
    </div>

    <div class="row px-4 border-top pt-4">
      <div class="col-12 login-footer p-0">
        <p class="register-link">
          ¿Aún no tienes una cuenta? <a href="#">Regístrate</a>
        </p>

        <p class="m-0"><img src="assets/liston-img.png" alt=""></p>

      </div>
    </div>

  </div>
</div>