:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #ffce00;
    --secundarioOscuro: #rgb(233,287,2);
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'Staatliches',cursive;
}

/*Globales 
Scroll nap 
    html{
        box-sizing:border-box;
    }
    *, *:before, *:after{
    box-sizing: inherit;} 
*/
html{
        box-sizing:border-box;
        font-size:62.5% /*para que 1 rem sea igual a 10 px*/
    }
    *, *:before, *:after{
    box-sizing: inherit;}

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height:1.5;
}

p{
    font: size 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{      text-decoration: none;}

img{    max-width:100%;}

.contenedor{
    max-width: 120rem;
    margin:0 auto;
}

h1,h2,h3{
    text-align: center;
    color:var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{     font-size: 4rem;}
h2{     font-size: 3.2rem;}    
h3{     font-size: 2.4rem;}

/*HEADER*/
.header{ /*Block*/
    display: flex;
    justify-content: center;
}
.header__logo{ /**Element*/
    margin: 3rem 0;
    width: 15rem;
    margin-right: 2rem;
}

/*FOOTER*/
.footer{ /*Block*/
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}.footer__texto{ /*Element*/
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.2rem;
}

/*NAVEGACION*/
.navegacion{ /*Block*/
    font-family: var(--fuentePrincipal);
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /*Nueva forma de separación*/
}.navegacion__enlace{ /*Element*/
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}

.navegacion__enlace:hover,
.navegacion_enlace--activo{ /*Modifier*/
    color: var(--secundario);
}

/*
BEM Block Element Modifier
Es una metodologia para crear codigo reutilizable en CSS
Hay que seguir las convenciones de nombrado para evitar la colison de nombres
Bloques: Componentes independientes que pueden reutilizarse ".cliente{}"
Elementos: Partes de un bloque que dependen de el. Utilizan __ despues del nombre del bloque ".cliente__nombre"
Modificadores: Variaciones de un bloque o elemento que tiene una bandera para indicar que es un modificador. 
Utilizan -- despues del nombre del bloque o elemento "cliente--premium" o ".cliente__nombre--ceo"
*/