<div class="mobile-wrapper">
    <div class="container-fluid d-flex flex-column flex-grow-1">

        <div class="row px-4">
            <div class="col-12 register-header">
                <p><img src="assets/logo-marcas.svg" alt="Carrera Ducati"></p>
            </div>
        </div>

        <div class="row g-0 promo-banner">
            <div class="col-12 promo-banner__image">
                <img src="assets/login-img.png" alt="Promo Gafas" class="w-100">
            </div>
        </div>

        <div class="row px-4 flex-grow-1">
            <div class="col-12 register-form-container">

                <h2 class="register-title">REGÍSTRATE</h2>

                <form class="register-form">

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
                    </div>

                    <div class="form-group mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                    </div>

                    <div class="form-group position-relative mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3"
                            id="togglePasswordIcon" style="cursor: pointer;">
                        </i>
                    </div>

                    <div class="form-group mb-3">
                        <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
                    </div>

                    <div class="form-group mb-3">
                        <select class="form-select" id="edad" name="selectEdad" title="selectEdad">
                            <option value="" selected disabled>Edad</option>
                            <option value="1">18-25</option>
                        </select>
                    </div>

                    <div class="form-check custom-checkbox mb-3">

                        <input class="form-check-input" type="checkbox" value="" id="terminos">

                        <label class="form-check-label" for="terminos">
                            Acepto los <a href="#" class="terms-link">Términos y Condiciones</a>
                        </label>

                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger w-100 mt-4 register-button">
                            REGISTRARME
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="row px-4 border-top pt-4">
            <div class="col-12 register-footer p-0">
                <p class="footer-link">
                    ¿Ya tienes una cuenta? <a href="#">Inicia sesión</a>
                </p>

                <p class="m-0"><img src="assets/liston-img.png" alt=""></p>
            </div>
        </div>

    </div>
</div>